<h1>Welcome to the Dev Blog!</h1>

{{#each posts}}
  <div class="post">
    <h2>{{title}}</h2>
    <p>{{body}}</p>
    <p>Created by: {{user.username}}</p>
    <ul>
      {{#each comments}}
        <li>{{this.body}} - {{this.user.username}}</li>
      {{/each}}
    </ul>
  </div>
{{/each}}
